@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply border-2 border-slate-400 rounded-md p-5;
}
.text {
  @apply flex flex-col space-y-1;
}
.title {
  @apply text-2xl;
}
.year {
  @apply text-slate-600 text-xl;
}
.card-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
